body {
  font-family: Arial, sans-serif;
  background: url("wallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1 {
  text-align: center;
  color: #333;
}

.subject {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.subject input {
  width: 45%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #e4e4e4;
}

#addSubject {
  background: #323633;
  color: white;
}

#addSubject:hover {
  background: #818381;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  color: #222;
}